.productContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titleContainer{
    text-align: center;
    padding: 0 20px;
}
.imgContainer{
    width: 40%;

}
.imgHidden{
    display: block;
}
.img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.descriptionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}