.mainContainer{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}
.navBarContainer{
    display: flex;
    position:sticky;
    top:0;
    width: 100%;
    height: 100px; 
    background: #f59e0b;
    justify-content: space-around;
    align-items: center;
}
.cartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px white;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 50%;
    font-weight: bolder;
}