.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    background: rgba(208, 208, 208, 0.357);
}

.popUpContainer{
    width: 20%;
    height: 20;
}