.selectorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.productsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}
.select{
    height: 30px;
    border: none; 
    border-radius: 5px;
}